/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-azulmarinho-soft: #242d3f;
  --vt-c-cinza-soft: #c8c9ce;
  --vt-c-cinza: #838494;
  --vt-c-azulmarinho: #041425;
  --vt-c-azul: #187ce6;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-azulmarinho-soft);
  --color-text: var(--vt-c-cinza-soft);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.font-family {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
  margin: 2px;
}

.badge-light {
  color: #212529 !important;
  background-color: #f8f9fa;
  margin: 2px;
}

a {
  color: var(--color-text);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.border-sidebar-right {
  border-right: solid 1px lightgrey;
}

.border-sidebar-left {
  border-left: solid 1px lightgrey;
}

.fs-14px {
  font-size: 14px;
}